<div class="container-fluid">
  <div class="row flex-nowrap">
    <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
      <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
        <!--        <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">-->
        <!--          <span class="fs-5 d-none d-sm-inline">Menu</span>-->
        <!--        </a>-->
        <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
          <li class="nav-item">
            <a href="/admin" class="nav-link align-middle px-0">
              <i class="fs-4 bi-house text-white"></i> <span class="ms-1 d-none d-sm-inline text-white">Home</span>
            </a>
          </li>
          <li>
            <a href="#submenu1" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
              <i class="fs-4 bi-speedometer2 text-white"></i> <span class="ms-1 d-none d-sm-inline text-white">Dashboard</span> </a>
            <!--            <ul class="collapse show nav flex-column ms-1" id="submenu1" data-bs-parent="#menu">-->
            <!--              <li class="w-100">-->
            <!--                <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Item</span> 1 </a>-->
            <!--              </li>-->
            <!--              <li>-->
            <!--                <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Item</span> 2 </a>-->
            <!--              </li>-->
            <!--            </ul>-->
          </li>
          <li>
            <a href="admin/all-orders" class="nav-link px-0 align-middle">
              <i class="fs-4 bi-table text-white"></i> <span class="ms-1 d-none d-sm-inline text-white">Orders(Table)</span></a>
          </li>
          <li>
            <a href="admin/orders" data-bs-toggle="collapse" class="nav-link px-0 align-middle ">
              <i class=" fs-4 bi bi-box-seam text-white"></i> <span class="ms-1 d-none d-sm-inline text-white">Orders</span></a>
            <ul class="collapse nav flex-column ms-1" id="submenu2" data-bs-parent="#menu">
              <li class="w-100">
                <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Item</span> 1</a>
              </li>
              <li>
                <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Item</span> 2</a>
              </li>
            </ul>
          </li>
          <li>
            <a href="admin/products" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
              <i class="fs-4 bi-grid text-white"></i> <span class="ms-1 d-none d-sm-inline text-white">Products</span> </a>
            <ul class="collapse nav flex-column ms-1" id="submenu3" data-bs-parent="#menu">
              <li class="w-100">
                <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Product</span> 1</a>
              </li>
              <li>
                <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Product</span> 2</a>
              </li>
              <li>
                <img src="">
                <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Product</span> 3</a>
              </li>
              <li>
                <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Product</span> 4</a>
              </li>
            </ul>
          </li>
          <li>
            <a class="nav-link px-0 align-middle">
              <i class="fs-4 bi-people text-white"></i> <span (click)="toggleSubMenu()" class="ms-1 d-none d-sm-inline text-white">Customers</span></a>
            <ul class="nav flex-column" *ngIf="isSubMenuOpen">
              <li class="nav-item">
                <a class="nav-link text-white" href="admin/user-create">Create User</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" href="admin/users/edit" >Edit User</a>
              </li>
            </ul>
          </li>
        </ul>
        <hr>
        <div class="dropdown pb-4">
          <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle"
             id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="https://avatars.githubusercontent.com/u/74963613?s=48&v=4" alt="hugenerd" width="30" height="30"
                 class="rounded-circle">
            <span class="d-none d-sm-inline mx-1">erenyusuff</span>
          </a>
          <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
            <li><a class="dropdown-item" href="#">New project...</a></li>
            <li><a class="dropdown-item" href="#">Settings</a></li>
            <li><a class="dropdown-item" href="#">Profile</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="#">Sign out</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col py-3">




      <div class="container">
        <table class="table table-bordered" id="table-data">
          <thead>
          <tr>
            <th>Id</th>
            <th>Product Name</th>
            <th>Category</th>
            <th>Description</th>
            <th>Price</th>
            <th>Stock</th>
            <th style="width: 10px"></th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let item of Product">
            <td>{{ item.id }}</td>
            <td>{{ item.productName}}</td>
            <td>{{ item.category }}</td>
            <td>{{ item.description }}</td>
            <td>{{ item.price }}</td>
            <td>{{ item.stock }}</td>
            <button type="button"  data-toggle="modal2" data-target="#exampleModal"
                    (click)="openModal2('custom-modal-1',item.productName,item.price, item.stock, item.description, item.img, item.category, item.id)">
              <i class="bi bi-pencil-square"></i>
            </button>
          </tr>
          </tbody>
        </table>

        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal"
                (click)="openModalReal()">
          Create Product
        </button>




        <div [ngClass]="modal2" tabindex="-2" role="dialog" *ngIf="showModal">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <div class="row">
                  <div style=" width: 490px">
                    <form [formGroup]="updateProductForm">
                      <div class="mb-3">
                        <label for="productName" class="form-label">productName</label>
                        <input
                          type="text"
                          class="form-control"
                          id="productName"
                          formControlName="productName"
                        />
                      </div>
                      <div class="mb-3">
                        <label for="price" class="form-label">price</label>
                        <input
                          type="number"
                          class="form-control"
                          id="price"
                          formControlName="price"
                        />
                      </div>
                      <div class="mb-3">
                        <label for="stock" class="form-label">stock</label>
                        <input
                          type="number"
                          class="form-control"
                          id="stock"
                          formControlName="stock"
                        />
                      </div>
                      <div class="mb-3">
                        <label for="description" class="form-label">description</label>
                        <input
                          type="text"
                          class="form-control"
                          id="description"
                          formControlName="description"
                        />
                      </div>
                      <div class="mb-3">
                        <label for="img" class="form-label">image</label>
                        <input
                          type="text"
                          class="form-control"
                          id="img"
                          formControlName="img"
                        />
                      </div>
                      <div class="mb-3">
                        <label for="category" class="form-label">category</label>
                        <input
                          type="text"
                          class="form-control"
                          id="category"
                          formControlName="category"
                        />
                      </div>
                    </form>
                  </div>
                </div>
              </div>
              <button type="button" class="btn btn-secondary" data-dismiss="modal2" (click)="closeModal2()">Close</button>
              <button type="button" class="btn btn-primary" (click)="updateProduct(); refresh(); closeModal2()">Update
                Product
              </button>
            </div>
          </div>
        </div>
      </div>


      <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Including Bootstrap Icons in HTML</title>
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">
        <!-- Bootstrap Font Icon CSS -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
      </head>
    </div>
  </div>
</div>
