<div class="modal-header">
  <h5 class="modal-title text-center" id="exampleModalLabel"><h1>Create Product</h1></h5>
  <button
    type="button"
    class="btn-close"
    aria-label="Close"
    (click)="modalRef.close()"
  ></button>
</div>
<div class="modal-body"><div style=" width: 470px">
  <form [formGroup]="productForm">
    <div class="mb-3">
      <label for="productName" class="form-label">Product Name</label>
      <input
        type="text"
        class="form-control"
        id="productName"
        formControlName="productName"
      />
    </div>
    <div class="mb-3">
      <label for="price" class="form-label">Price</label>
      <input
        type="number"
        class="form-control"
        id="price"
        formControlName="price"
      />
    </div>
    <div class="mb-3">
      <label for="stock" class="form-label">Stock</label>
      <input
        type="number"
        class="form-control"
        id="stock"
        formControlName="stock"
      />
    </div>
    <div class="mb-3">
      <label for="description" class="form-label">Description</label>
      <input
        type="text"
        class="form-control"
        id="description"
        formControlName="description"
      />
    </div>
    <div class="mb-3">
      <label for="img" class="form-label">Image</label>
      <input
        type="text"
        class="form-control"
        id="img"
        formControlName="img"
      />
    </div>
    <div class="mb-3">
      <label for="category" class="form-label">Category</label>
      <input
        type="text"
        class="form-control"
        id="category"
        formControlName="category"
      />
    </div>
  </form>
</div></div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" (click)="modalRef.close()">
    Close
  </button>
  <button type="button" class="btn btn-primary" (click)="addProduct(); modalRef.close()">Save changes</button>
</div>
